<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Card Detail</title>
  </head>
  <body>
    <ul style="display: inline;">
    {% for item in items %}
      <li style="display: inline-block;"><a href = "{{item.url}}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
    <h1>{{ card_name }}</h1>
    <p>{{ card_set }}</p>
    <p>{{ set_num }}</p>
    <p>{{ foil }}</p>

    {% if likeCollection %}
    <p>Other Printing</p>
    <ul>
      {% for card in likeCollection %}
          <li><a href = "/cards/{{card.id}}">{{ card.name }} {{ card.set_code }} {{card.set_num}}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No other printings in your collection</p>
  {% endif %}
  </body>
</html>
