<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Card Collection</title>
  </head>
  <body>
    <ul style="display: inline;">
      {% for item in items %}
        <li style="display: inline-block;"><a href = "{{item.url}}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>

    {% if collection %}
    <ul>
    {% for card in collection %}
        <li><a href = "/cards/{{card.id}}">{{ card.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
  </body>
</html>
