{% extends "siteutils/base.html" %}

{% block content %}

{% if Matches %}
Round {{ RoundNum }}
<ul>
    {% for match in Matches %}

        {% if match.Player2 is None %}
        <li>{{ match.Player1.first_name }} got the bye</li>
        {% endif %}
        {% if match.Player2 %}
        <li>
        <b><a href="/tournament/match/{{ match.id }}">{{ match.Player1 }}</b> vs <b>{{ match.Player2 }}</b></a>
        </li>
        {% endif %}
    {% endfor %}
</ul>

<button><a href="/tournament/{{ tour.id }}">Return to Tournament Home Page</a></button>
<button><a href='/tournament/next/{{tour.id}}'>Next Round</a></button></button>

{% endif %}

{% endblock %}